/* Style for the form container */

.wrapper{
  background-image: url("/image/login.jpg");
  fill-opacity: 0.5;
}

.former-wrap{

  padding-top: 6rem;
  padding-bottom: 6rem;
}


form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.5);
  }

  /* Style for the input fields */
  label, input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  label {
    font-weight: bold;
  }
label, input[type="text"], input[type="email"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
  }

  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /* Style for the form header */
  h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #E4B50D ;
  }
