.product-wrap{
    background: url(/image/tools.jpg);
    background-size: cover;
    padding-top: 9rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #080808;
    padding: 1em;
    margin-top: 7rem;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
    max-width: 300px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5em;
  }
  
  .product-card h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  .product-card p {
    margin-bottom: 1em;
  }
  
  .product-card .price {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  .product-card button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #3e8e41;
  }